@charset "UTF-8";
body {
  font: 19px/23px Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171c28;
  color: #ffffff;
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  body {
    margin: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin: 0 30px;
  }
}

picture.emoji-gif img {
  width: 1em;
  height: 1em;
}

#goToTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 500;
}

.section-display {
  display: flex;
  margin-bottom: 10rem;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-display.right-text-content {
    flex-direction: row-reverse;
  }
  .section-display.right-text-content .illustration {
    padding-right: 5rem;
  }
  .section-display.left-text-content {
    flex-direction: row;
  }
  .section-display.left-text-content .illustration {
    padding-left: 5rem;
  }
}
.section-display .text-content {
  flex: 1;
}
.section-display .text-content .title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .section-display .text-content .title {
    font-size: 70px;
  }
}
.section-display .text-content .paragraph {
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .paragraph {
    font-size: 20px;
    line-height: px-to-rem(26px);
  }
}
@media screen and (min-width: 1440px) {
  .section-display .text-content .paragraph {
    font-size: 30px;
    line-height: px-to-rem(40px);
  }
}
.section-display .illustration {
  flex: 1;
  margin-top: 50px;
}
.section-display .illustration img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.stack-technique-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 45px;
}
.stack-technique-icons i {
  transition: all 0.3s ease;
}
.stack-technique-icons i:hover {
  cursor: pointer;
  color: #aaa5ff;
  transform: scale(1.2);
}

.competences-bars {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.competences-bars .competence-bar .competence-bar-bar {
  background-color: #ffffff;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid;
}
.competences-bars .competence-bar .competence-bar-bar .competence-bar-bar-fill {
  background-color: #55198B;
  height: 100%;
  border-radius: 10px;
  animation: showGrowth 1s ease infinite alternate;
}

.list-blog {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .list-blog {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .list-blog {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1920px) {
  .list-blog {
    grid-template-columns: repeat(4, 1fr);
  }
}
.list-blog a {
  text-decoration: none;
  color: white;
}
.list-blog .blog {
  box-shadow: 1px 0 20px #fff;
  padding: 15px 30px;
  border-radius: 10px;
  position: relative;
}
.list-blog .blog h4, .list-blog .blog p {
  position: relative;
  z-index: 6;
  background-color: transparent;
}
.list-blog .blog:hover {
  cursor: pointer;
}
.list-blog .blog:hover .link-blog {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  border-radius: 10px;
}
.list-blog .blog .link-blog {
  text-align: right;
  display: block;
  background-color: #55198B;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 15px 15px;
  border-radius: 10px;
  border-bottom-left-radius: 100%;
  width: 15px;
  height: 20px;
  transition: all 0.45s ease-out;
  z-index: 5;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171c28; /* change  */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: loader-hide 1.5s forwards;
}
#loader .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #55198B;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; /* Animation en boucle, à l'infini */
}

.diplome {
  display: flex;
  gap: 30px;
  position: relative;
  padding-bottom: 45px;
  margin: 30px 0;
}
.diplome:hover::after {
  width: 100%;
  background-color: #55198B;
}
.diplome::after {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #868e96;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease;
}
.diplome .diplome-logo {
  max-width: 100px;
  height: fit-content;
  border-radius: 10px;
}
.diplome .diplome-content .diplome-title {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
}
.diplome .diplome-content .diplome-subtitle {
  font-weight: bold;
  margin-bottom: 15px;
}
.diplome .diplome-date {
  font-style: italic;
}
@media screen and (min-width: 1024px) {
  .experience {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    max-width: 33%;
  }
}
.experience .experience-header {
  position: relative;
  padding: 50px;
  padding-top: 25px;
  background-color: #55198B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.experience .experience-header .experience-title {
  text-align: center;
}
.experience .experience-header .experience-logo {
  position: absolute;
  border-radius: 50%;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  max-height: 100px;
}
.experience .experience-content {
  border: 1px solid white;
  border-top: none;
  padding: 15px;
  padding-top: 65px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.experience .experience-content .experience-subtitle {
  font-weight: bold;
}
.experience .experience-content .experience-date {
  font-style: italic;
}
.experience .experience-content .experience-descritpion {
  margin-top: 10px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px;
  transition: all ease 0.3s;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
    padding: 15px 30px;
  }
}
.btn:hover {
  transform: translateY(-10px);
}
.btn.btn-primary {
  background-color: #55198B;
  border-color: #200935;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #6f21b6;
  color: #ffffff;
}
.btn.btn-secondary {
  background-color: #aaa5ff;
  border-color: #4a3fff;
  color: #171c28;
}
.btn.btn-secondary:hover {
  background-color: #dad8ff;
  color: #171c28;
}
.btn.btn-grey {
  background-color: #868e96;
  border-color: #555b61;
  color: #171c28;
}
.btn.btn-grey:hover {
  background-color: #a1a8ae;
  color: #171c28;
}
.btn.btn-light-grey {
  background-color: #f3efef;
  border-color: #c7b5b5;
  color: #171c28;
}
.btn.btn-light-grey:hover {
  background-color: white;
  color: #171c28;
}
.btn.btn-dark {
  background-color: #171c28;
  border-color: black;
  color: #ffffff;
}
.btn.btn-dark:hover {
  background-color: #2a3348;
  color: #ffffff;
}
.btn.btn-white {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #171c28;
}
.btn.btn-white:hover {
  background-color: white;
  color: #171c28;
}
.btn.btn-accent {
  background-color: #fec131;
  border-color: #c88d01;
  color: #171c28;
}
.btn.btn-accent:hover {
  background-color: #fed064;
  color: #171c28;
}

.animate-fusee {
  transition: all 1s ease; /* Décommente si tu veux un retour en douceur */
  display: inline-block;
}
.animate-fusee:hover {
  animation: moveFusee 1s; /* Animation plus rapide */
}

@keyframes moveFusee {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(1px, -1px);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  30% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(-4px, 4px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(-6px, 6px);
  }
  70% {
    transform: translate(7px, -7px);
  }
  100% {
    transform: translate(1500px, -1500px);
  }
  /* Option 1: Décollage progressif et contrôlé */
  /* Option 2: Décollage rapide et hors de l'écran (à utiliser avec prudence) */
  /*100% {  
      transform: translate(15000px, -15000px);  
  }*/
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-hide {
  /* Opacité à 1 car par défaut */
  80% {
    opacity: 1; /* Valeur poar défaut */
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(10);
  }
  100% {
    display: none; /* opacité à zero, on l'a dit avec le "zero", oui, mais "encore clicable" permet de "vraiment le masquer" */
    opacity: 0;
    transform: scale(10);
  }
}
@keyframes showGrowth {
  from {
    padding-right: 0px;
  }
  to {
    padding-left: 1%;
  }
}
.header-website {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #171c28;
}
.header-website .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.header-website .navbar .menu .menu-input {
  display: none;
}
.header-website .navbar .menu .menu-input:checked ~ .dropdown-menu {
  max-height: 100vh; /* on aurait pu mettre "fit-content" */
}
@media screen and (min-width: 768px) {
  .header-website .navbar .menu .menu-input-label {
    display: none;
  }
}
.header-website .navbar .menu .dropdown-menu {
  transition: max-height 0.2s ease-out;
  max-height: 0;
  background-color: #171c28;
  position: absolute;
  left: 0;
  top: 100%;
  overflow: hidden;
  width: 100%;
}
.header-website .navbar .menu .dropdown-menu .nav-links {
  padding: 15px;
}
.header-website .navbar .menu .dropdown-menu .nav-links .nav-link {
  display: block;
  padding: 10px;
}
.header-website .navbar .menu .dropdown-menu .nav-links .nav-link a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .header-website .navbar .menu .dropdown-menu {
    max-height: 100vh;
    position: relative;
  }
  .header-website .navbar .menu .dropdown-menu .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

footer {
  padding: 30px;
}
footer .credits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */