html {
    scroll-behavior: smooth;
}
body {
    background-color: $dark;
    color: $white;
    @media screen and (min-width: 768px) {
        margin: 0 30px;
    }
    margin: 0 20px;
}
main {
    @media screen and (min-width: 768px) {
        margin: 0 30px;
    }

}

picture.emoji-gif {
    img {
    width: 1em;
    height: 1em;
    }
}
#goToTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 500;

    

}
